<section class="ui middle aligned raised segment">
  <div class="ui center aligned raised segment">
    <h1 class="ui center aligned header">
      Amon S&ucirc;l: A WeatherTop Inc. Service
    </h1>
    <span class="ui rounded raised image">
      <img class="ui rounded image" src="/public/images/Caradhras.png">
    </span>
  </div>
  <div class="ui two column middle aligned grid basic segment">
    <div class="column">
      <div class="ui primary raised segment form">
        <h2 class="ui centered header">How to use the Amon S&ucirc;l: website</h2>
        <div class="field">
          <h4 class="ui grey centered header"><em>"It is told that Elendil stood there watching for the
            coming of<br>Gil-Galad out of the West, in the days of the Last Alliance."</em></h4>
          <p><br>
            At the moment you can view your Weathertop 1000 stations and their weather readings by
            logging in using the form above, or alternatively you can learn more about us on our About page.
          </p>
          <a id="about" class="item" href="/about">
            <button class="fluid ui green button">About Amon S&ucirc;l &amp; WeatherTop Inc.</button>
          </a>
          <br>
          <p>
            Future updates will include more features and pages, so please check back regularly for more.
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <img class="ui rounded image" src="/public/images/weathertop-photo.jpg">
    </div>
  </div>
  <div class="ui center aligned raised segment">
    <span class="ui rounded raised image">
      <img class="ui rounded image" src="/public/images/hobbits-at-weathertop.jpg">
    </span>
  </div>
</section>
