<table class="ui celled padded table">
  <thead>
    <tr class="ui center aligned">
      <th>Date & Time of Reading</th>
      <th>Station Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    #{list items:_station.readings, as:'reading'}
      <tr class="ui center aligned">
        <td>
          ${reading.date}
        </td>
        <td>
          ${reading.code}
        </td>
        <td>
          ${reading.temperature}
        </td>
        <td>
          ${reading.windSpeed}
        </td>
        <td>
          ${reading.windDirection}
        </td>
        <td>
          ${reading.pressure}
        </td>
        <td>
          <a href="/stations/${_station.id}/deletereading/${reading.id}">
          <button class="red circular ui icon button">
            <i class="white trash alternate outline icon"></i>
          </button>
          </a>
        </td>
      </tr>
    #{/list}
  </tbody>
</table>