#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<div class="ui inverted two column middle aligned grid basic raised segment">
  <div class="column">
    <h1 class="ui inverted white center aligned raised header">
      Log In here to use <em>Amon S&ucirc;l</em>
    </h1>
    <form class="ui green stacked segment form" action="/authenticate" method="POST">
      <h3 class="ui header">Log In</h3>
      <div class="field">
        <label>Email</label> <input placeholder="Email" name="email" required>
      </div>
      <div class="field">
        <label>Password</label> <input type="password" name="password" required>
      </div>
      <button class="ui green circular submit button">Login</button>
    </form>
  </div>
  <div class="column">
    <img class="ui rounded image" src="/public/images/weathertop-painting.jpg">
  </div>
</div>

#{homeview /}
